.content {
    
    background-color: white;
}

.header {
    background-color: #b7b7b7;
    height: 170px;
    padding-left: 10%;
    margin: 0 auto;
    color: #f9f9f9;
    opacity: 1;
    transition: height ease-in-out 0.5s, opacity ease-out 0.4s;
}

.headerInv {
    height: 0;
    opacity: 0;
}

.header h1 {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0;
}

.App img {
    margin: 3px 0 0 5px;
    padding: 0;
    height: 50px;
}

nav {
    border-bottom: 1px solid #D3D3D3;
    background-color: white;
}

.App {
    height: 100vh;
    background-color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #dddddd;
    border-bottom: 10px solid rgba(0,0,0,.32);
}

footer a {
    color: #333;
    font-size: 1.1em;
    text-decoration: none;
    letter-spacing: 1px;
}

a + a {
    margin-left: 50px;
}

footer .footer-links {
    width: 80%;
    margin: 0 auto;
}