body {
  margin: 0;
  font-family: 'PT Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 2px;
}

p {
  font-size: 1.2em;
  letter-spacing: 1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  position: relative;
}
